################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/YoYo-Web-App/v15/Server/sqlite3/db.lock
/.vs/YoYo-Web-App/v15/Server/sqlite3/storage.ide-wal
/.vs/YoYo-Web-App/v15/Server/sqlite3/storage.ide-shm
/.vs/YoYo-Web-App/v15/Server/sqlite3/storage.ide
